html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #f0f;
  background-color: #303;
}

a {
  color: #60f;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
